// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$go-light-orange: #FAB553;
$go-dark-orange: #BE893E;
$go-light-grey: #9E9F9F;
$go-medium-grey: #5A5C5B;
$go-dark-grey: #2D2B2C;
$go-light-green: #648272;
$go-medium-green: #3C6A5B;
