.dashboard-container {
  width: auto;
  justify-content: center;
  padding: 0px 50px;
  display: flex;
  flex-direction: row;
}

.right-container {
  display: flex;
  height: fit-content;
  flex-direction: column;
  width: 60%;
  position: sticky;
  top: 60px;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: auto;
  margin-right: 20px;
  margin-top: 25px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  grid-gap: 10px;
  margin-bottom: 20px;
  height: 200px;
  position: sticky;
}

.second-row {
  position: sticky;
}

.profile-container {
  width: 100%;
  height: 100%;
  background-color: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  margin: 0px 0px 20px 0px;
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.creature-container {

  & h5 {
    color: $go-light-orange;
  }

}

.creature-request-container {
  width: 100%;
}

.creature-reservation-container {
  width: 100%;
}

.reservation {
  width: 100%;
}
