// Import page-specific CSS files here.
@import "home";

body {
  background: rgb(12, 12, 12);
  background: linear-gradient(0deg, rgb(19, 19, 19) 0%, rgba(55,55,55,1) 50%, rgb(20, 20, 20) 100%);
}

#h1-index {
  font-family: 'MedievalSharp', cursive;
  font-size: 40px;
  color: white;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: auto;
  width: 100%;
  padding: 0 4rem;
  // padding-right: var(--bs-gutter-x, 0.75rem);
  // padding-left: var(--bs-gutter-x, 0.75rem);
  // margin-right: 50px;
  // margin-left: 50px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

#h1-index {
  text-align: center;
}

h4 {
  color: $go-light-grey;
}
