  <div class="footer">
    <div class="footer-links">
      <p> Follow us on | </p>
      <a href="https://github.com/" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
      <a href="https://fr.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
