<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://wallpaperaccess.com/full/279729.jpg);">
  <div class="container">
    <h1>Welcome to Go creatures !</h1>
    <p>Find all the most unbelievable creatures of the universe in one place</p>
    <a class="btn btn-gradient" href="<%=creatures_path%>">Go to creatures</a>
  </div>
</div>
