<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.adweek.com/wp-content/uploads/sites/2/2016/03/Dungeon-Monsters.png);">
  <div class="container">
    <h1>Welcome to Go creatures !</h1>
    <p>Find all the most unbelievable creatures of the universe in one place</p>
    <a class="btn btn-secondary" href="<%=creatures_path%>">Go to creatures</a>
  </div>
</div>
