.banner {
  //background-image: url(https://wallpaperaccess.com/full/279729.jpg);
  //background-image: url('https://wallpaperaccess.com/full/279729.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-gradient {
  color: black;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fab553, #ce6f43);
  transition: background 0.3s ease;
  //border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  //background: linear-gradient(#147EFF, #0F67DA);
  //color: white;
  transform: scale(1.1);
  color: white;
}
