
.show-container {
  display: grid;
  grid-gap: 20px;
  margin: 20px;
}

#description-box {
  overflow: hidden;
  height: 280px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  margin-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}

#description-box h2 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 32px;
  margin-top: 32px;
  text-decoration: none;
  color: $go-dark-orange;
}

#description-box p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-left: 32px;
  margin-top: 12px;
  color: $go-light-grey;
}

#form-box {
  overflow: hidden;
  height: 640px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  border-radius: 10px;
}

#form-box h2 {
  font-size: 28px;
  font-weight: bold;
  margin-top: 24px;
  text-decoration: none;
  color: $go-dark-orange;
  display: flex;
  justify-content: center;
}

.card-show {
  overflow: hidden;
  height: 340px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
}

.card-show img {
  height: 100%;
  width: 340px;
  border-radius: 10px;
  object-fit: cover;
}

.card-show h2 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: $go-dark-orange;
}

.card-show p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 50px;
  color: $go-light-grey;
}

.card-show .card-show-infos {
  padding: 32px;
  color: black;
}
