.card-creature {
  overflow: hidden;
  height: 120px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding-bottom: 20px;

  &:hover {
    box-shadow: 0px 0px 8px 3px $go-dark-orange;
    transform: scale(1.05);
  }
}

.card-creature img {
  height: 100%;
  width: 40%;
  object-fit: cover;
}

.card-creature h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  text-decoration: none;
  color: $go-dark-orange;
}

.card-creature p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $go-light-grey;
}

.card-creature .card-creature-infos {
  padding: 16px;
  color: black;
}

a {
  text-decoration: none;
}
