.footer {
  //background: #F4F4F4;
  background-color: #0B0B0C;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0px 50px;
  //color: rgba(0,0,0,0.3);
  //color: #777781;
  color: #fab553;
  position:fixed;
  bottom:0;
  width: 100%;
}

.footer p {
    margin: 0px;
    opacity: 0.7;
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #fab553;
  //color: #777781;
  //color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  opacity: 0.7;
}

.footer-links a:hover {
  opacity: 1;
}
