.container-form form{
  color: lightgrey;
  align-items: center !important;
}

.container {
  h3 {
    color: orange;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 5px;
  }

  h2 {
    color: orange;
    padding-top: 20px;
    padding-bottom: 5px;
  }
}

#new_creature {
  display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.form-control {
  width: 70vh !important;
  background-color: grey;
  border: solid black;
  border-radius: 7px !important;
}
