.banner-window {
  //background-image: url(https://wallpaperaccess.com/full/279729.jpg);
  //background-image: url('https://wallpaperaccess.com/full/279729.jpg');
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 200px;
  border-radius: 7px;
}


.banner-window img{
  width: 100%;
}
