.navbar-lewagon {
  justify-content: space-between;
  background: #0B0B0C;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand img{
  //border-radius: 50%;
  border-radius: 5px;
  width: 40px;
}

//.navbar-light .navbar-nav

.navbar-light .navbar-nav .nav-link {
  //color: white;
  color: #fab553;

}

.navbar-light .navbar-nav .nav-link:hover {
    //color: #be893e;
    color: #fab553;
    filter: brightness(125%);

}

.navbar-brand img:hover {
  //color: white;
  filter: brightness(125%);

}
