.navbar-lewagon {
  justify-content: space-between;
  background: #0B0B0C;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand img{
  //border-radius: 50%;
  border-radius: 5px;
  width: 40px;
}

//.navbar-light .navbar-nav

.navbar-light .navbar-nav .nav-link {
  //color: white;
  color: #fab553;

}

.navbar-light .navbar-nav .nav-link:hover {
  //color: white;
    color: #be893e;

}

.navbar-brand img:hover {
  //color: white;
    opacity: 0.7;

}
