.right-container {
  & h5 {
    color: $go-dark-orange;
    font-size: 18px;
    padding-bottom: 10px;
  }

  & ul {
    padding-left: 0px;
  }

  & li {
    list-style: none;
    color: $go-light-grey;
    font-size: 14px;
    margin-top: 5px;
  }

  & a {
    text-decoration: none;
    color: $go-light-orange;
  }

  & a :hover {
    opacity: 0.8;
  }
}


.creature-reservation-container {
  padding: 10px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  border-radius: 7px;
}

.creature-request-container {
  padding: 10px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  border-radius: 7px;
}

.reservation {
  padding: 10px;
  background: $go-dark-grey;
  box-shadow: 8px 9px 13px 1px rgba(0,0,0,0.63);
  border-radius: 7px;
}

.datepicker {
  width: 0px;
}

.calendar {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 550px;
}

.reservation_starting_date {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  color: $go-light-grey;
}

.reservation_ending_date {
  position: relative;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  line-height: 1.4;
  opacity: .7;
  color: $go-light-grey;
}

.reservation_calendar {
  transform: scale(0.75);
}

.button {
  position: relative;
  bottom: 100px;
  width: 100%;
  height: 40px;
  background-color: $go-light-orange;
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  color: $go-dark-grey;
  font-weight: bolder;
  border-color: $go-light-orange;
  border-radius: 7px;
  &:hover {
    font-weight: bolder;
  };
}
