.my-creature-reservation-container {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.reservation-request {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.my-creature-reservation-container li {
  list-style: none;
}

.reservation-request li {
  list-style: none;
}
