.my-creature-reservation-container {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.reservation-request {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.my-creature-reservation-container li {
  list-style: none;
}

.reservation-request li {
  list-style: none;
}

.datepicker {
  width: 0px;
}

.calendar {
  margin: 0;
  display: flex;
  justify-content: center;
}

.reservation_starting_date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation_ending_date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation_calendar {
  position: absolute;
  top: 50px;
  transform: scale(0.8);
}
