#search-form {
  display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	align-content: stretch;
  padding-top: 20px;
  padding-bottom: 30px;
}


.form-control-index {
  width: 300px;
  height: 35px;
  display: flex;
  border-radius: 7px;
}

.btn-dark {
  border-radius: 7px;
  background-color: $go-dark-orange;
  color: black;
  height: 36px;
}

#search-form form {
  display: flex;
}
